.git
.gitignore
.env
.venv
env/
venv/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
.DS_Store
processed_rvtools.xlsx 